.navbar{
    background-color: rgb(47, 46, 46);
    padding:1px 10%;
    color:white;
   
}
.nav-link{
    cursor: pointer;
}
.logo-fl{
    color: var(--dark-orange);
    font-size: 25px;
    font-weight:bolder;
    font-family: "Poppins";

}
.logo-rl{
    color: rgb(211, 210, 210);
    font-size: 15px;
    font-weight: bolder;
    letter-spacing: 1px;
}
.logo-dot{
    margin: 0 3px;
    font-size: 4px;

}
